<section id="about" class="bg-lighter " >
<div class="container pr-5 pl-5 mt-0 pt-70 pb-10 mb-0">
  <div class="section-content">
    <div class="row mt-10">
      <div class="col-sm-12 col-md-6 mb-sm-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <h3 class="text-uppercase mt-0"><%= about['title1'] %><span class="text-theme-color-2"><%= about['title2'] %></span></h3>
        <p class="lead"><%= about['paragraph1'] %></p>
        <p class="mb-15"><%= about['paragraph2'] %></p>
        <p class="mb-10"><%= about['paragraph3'] %></p>
        <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-0 <%= about['detailsEnabled'] %>" href="#">View Details</a>
      </div>
      <div class="col-sm-12 col-md-6 mt-0 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="video-popup">
          <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video" title="Video">
            <img alt="" src="images/about/5.jpg" class="img-responsive img-fullwidth mt-10 ml-30 ml-xs-0 ml-sm-0">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
