<div class="header-nav">
  <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
    <div class="container">
      <nav id="menuzord-right" class="menuzord default">
        <a class="menuzord-brand pull-left flip" href="javascript:void(0)">
          <img src="images/logo-wide.png" alt="">
        </a>
        <ul class="menuzord-menu onepage-nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#whyus">Why us</a></li>
          <li><a href="#search">Search</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
