<!-- Section: home -->
<%- include('slider.html') %>

<!-- Section: Sevices -->
<%- include('services.html') %>

<!-- Section: About -->
<%- include('about.html') %>

<!-- Divider: why choose us 1 -->
<%- include('why_us.html') %>

<!-- Section: search  -->
<%- include('search_section.html') %>

<!-- Diver: Video Background  -->
<%- include('video_intro.html') %>

<!-- Section: Gallery -->
<%- include('images_gallery.html') %>

<%- include('contact.html') %>

<!-- Section: Blog -->
<%- include('blog.html') %>
