<section>
<div class="container">

  <div class="section-content">
    <div class="row">
      <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInUp" data-margin-top="-160px" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="img-fullwidth" src="images/services/bg-1.jpg" alt="">
        <div class="bg-silver-light border-1px p-20 pt-0 pb-30 mb-sm-180">

              <h4 class=" letter-space-1 mt-10">Online<span class="text-theme-color-2"> Learning</span></h4>
          <p><%= services['first']['paragraph'] %></p>
          <a href="#" class="btn btn-sm btn-theme-colored <%= services['first']['readMoreEnabled'] %> ">Read more</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-0 wow fadeInUp" data-margin-top="-160px" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="img-fullwidth" src="images/services/bg-3.jpg" alt="">
        <div class="bg-silver-light border-1px p-20 pt-0 pb-30">
          <h4 class=" letter-space-1 mt-10"><%= services['second']['title1'] %><span class="text-theme-color-2"> <%= services['second']['title2'] %></span></h4>
          <p><%= services['second']['paragraph'] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <a href="#" class="btn btn-sm btn-theme-colored  <%= services['second']['readMoreEnabled'] %>">Read more</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInUp" data-margin-top="-160px" data-wow-duration="1s" data-wow-delay="0.1s">
        <img class="img-fullwidth" src="images/services/bg-2.jpg" alt="">
        <div class="bg-silver-light border-1px p-20 pt-0 pb-30 mb-sm-180">
              <h4 class="letter-space-1 mt-10"><%= services['third']['title1'] %><span class="text-theme-color-2"> <%= services['third']['title2'] %></span></h4>
          <p><%= services['third']['paragraph'] %></p>
          <a href="#" class="btn btn-sm btn-theme-colored <%= services['third']['readMoreEnabled'] %> ">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
