<section id="whyus" class="divider parallax" data-bg-img="images/bg/bg1.jpg" data-parallax-ratio="0.7">
<div class="container pt-0 pb-0">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="bg-white-transparent-9 pb-10 p-40">
        <h2 class="mb-20 mt-30 line-height-1 text-center text-uppercase"><%= chooseus['title1'] %> <span class="text-theme-color-2"> <%= chooseus['title2'] %></span></h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box p-15 mb-0 mb-sm-0 mt-sm-0">
                <a class="icon pull-left sm-pull-none flip" href="#">
                <i class="fa fa-building text-theme-colored font-50"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason1']['title'] %></h4>
                  <p><%= chooseus['reason1']['paragraph'] %></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box p-15 mb-0 mb-sm-0 mt-sm-0">
                <a class="icon pull-left sm-pull-none flip" href="#">
                <i class="fa fa-users text-theme-colored font-50"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason2']['title'] %></h4>
                  <p><%= chooseus['reason2']['paragraph'] %></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box p-15 mb-30 mb-sm-0 mt-sm-0">
                <a class="icon pull-left sm-pull-none flip" href="#">
                <i class="fa fa-book text-theme-colored font-50"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason3']['title'] %></h4>
                  <p><%= chooseus['reason3']['paragraph'] %></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="icon-box p-15 mb-30 mb-sm-0 mt-sm-0">
                <a class="icon pull-left sm-pull-none flip" href="#">
                <i class="fa fa-money text-theme-colored font-50"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h4 class="icon-box-title mt-15 mb-5"><%= chooseus['reason4']['title'] %></h4>
                  <p><%= chooseus['reason4']['paragraph'] %></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
